<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a new Motorcycle!</title>
  </head>
  <body>
    <form action="/motorcycles/new" method="POST">
      <h2>Create a Motorcycle!</h2>
      <label for="make">Make</label>
        <input type="text" name="make">
      <label for="model">Model</label>
        <input type="text" name="model">
      <label for="engine_cc">Engine CC</label>
        <input type="text" name="engine_cc">
      <input type="submit" value="Create!">
    </form>

  </body>
</html>
